*{
    margin: 0%;
    font-family: 'Kalam', cursive;
}

header{
    max-width:100%;
    text-align: center;
    height: 50px;
    background-color: #fcd34d;
    padding: 1rem;
}

.main{
    font-size: large;
    max-width: 50%;
    margin: 2rem;
    margin: auto;
}

.txt-box-input{
    width: 100%;
    display: block;
    min-height: 20vh;
    margin: 2rem;
    font-size: large;
}

.btn-translate{
    margin: 2rem;
    display: block;
    padding: 1rem;
    width: 200px;
    background-color: #fcd34d;
    color: black;
    border: none;
    font-size: large;
}
#textoutput{
    margin: 2rem;
    box-sizing: border-box;
    width: 100%;
    min-height: 20vh;
    max-height: 25vh;
    overflow: scroll;
    border: 1px solid black;
    padding: 1rem;
    font-size: large;
    margin-bottom: 4rem;
}

.footer{
    max-width: 100%;
    margin: auto;
    bottom: 0%;
    text-align: center;
    background-color: #fcd34d;
}

.footer>p{
    max-width: 600px;
    margin: auto;
}